h1 {
    color: black;
    text-align: left;
    font-family: cursive;
    font-size: 50pt;
  }
  Body {
    color: black;
    text-align: left;
    font-family: fantasy;
    font-size: 15pt;
  }
.background-image {
background-image: url("/images/Ghana.jpeg");
background-size:600px;
background-repeat: no-repeat;
background-position: bottom right;
}